@font-face {
  font-family: "Windows"; /* Choose any name for the font */
  src: url("MS\ Sans\ Serif\ 8pt.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

body {
  background-color: black;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(85, 170, 170);
}

.main-program {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu-list {
  position: absolute;
  width: 185px;
  height: 16.8rem;
  background-color: rgb(195, 199, 203);
  bottom: 35px;
  left: 1px;
  z-index: 10;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
  user-select: none;
  z-index: 50 !important;
}

.win95-long {
  position: absolute;
  height: 100%;
  width: 24px;
  left: 1px;
}

.start-bar {
  position: relative;
  width: 100vw;
  height: 35px;
  background-color: rgb(192, 192, 192);
  border-top: 3px solid rgb(217, 225, 219);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  user-select: none;
}

.active-programs {
  position: absolute;
  height: 100%;
  min-width: 10rem;
  left: 4.2rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}

.active-program {
  height: 80%;
  top: 1px;
  position: relative;
  width: 150px;
  border: 1px solid transparent;
  border-top: 2px solid black;
  border-left: 2px solid black;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  gap: 0.2rem;
  align-items: center;
}

.start-button {
  position: relative;
  height: 27px;
  width: 65px;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  /* border-right: 2px solid rgb(20, 20, 20); */
  /* border-bottom: 2px solid rgb(20, 20, 20);  */
  left: 3px;
  top: 1px;
  cursor: pointer;
  text-shadow: 0.5px 0px black, 1.5px 0px black;
  letter-spacing: 1px;
  /* background: url("./img/start_main.0.0.1455197556\ Background\ Removed.0.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

.clicked {
  border-top: 3px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(251, 250, 251);
  border-bottom: 2px solid rgb(251, 250, 251);
}

.start-button:active {
  border-top: 3px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(251, 250, 251);
  border-bottom: 2px solid rgb(251, 250, 251);
}

.start-button:active .start-img {
  width: 99%;
}

.time-box {
  position: relative;
  margin-right: 3px;
  top: 0px;
  width: 100px;
  height: 29px;
  background-color: transparent;
  border: 1px solid black;
  border-top: 2px solid rgb(145, 145, 145);
  border-left: 2px solid rgb(145, 145, 145);
  border-bottom: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(251, 250, 251);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.config-logo {
  position: relative;
  width: 22px;
  left: 3px;
  top: -1px;
}

.current-time {
  font-family: Windows;
  margin-right: 15px;
  /* text-shadow: 0.5px 0px black, 1.5px 0px black; */
  font-size: 13px;
}

.start-img {
  width: 100%;
}

.start-nav-list {
  position: absolute;
  height: 100%;
  left: 15.5%;
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-item {
  width: 100%;
  height: 37px;
  position: relative;
  overflow: hidden;
}

.nav-item:hover {
  background-color: rgb(0, 0, 170);
}

.nav-item:hover .nav-item-title {
  color: white;
}
.nav-item:hover .fa-play {
  color: white;
}

.nav-icon {
  width: 37px;
  top: -1px;
  position: absolute;
  left: 5px;
}

.ico-sml {
  top: 4px;
  left: 0.6rem;
  width: 30px;
}

.nav-item-title {
  position: absolute;
  z-index: 15;
  font-family: Windows;
  font-size: 13px;
  left: 47px;
  top: 12px;
}

.border {
  border-top: 1px solid black;
  border-bottom: 2px solid rgb(251, 250, 251);
}

.arrow-box {
  position: absolute;
  left: 8.7rem;
  top: 0.4rem;
}

.fa-play {
  font-size: 8px;
}

.desktop-icon {
  width: 6.2rem;
  height: 3.8rem;
  /* border: 1px solid red; */
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  user-select: none;
  text-align: center;
}

.desktop-icon:active {
  border: 1px dotted blue;
}

.trash-icon {
  position: absolute;
  left: 5rem;
  top: 5rem;
}

.shadow-minter {
  position: absolute;
  left: 15rem;
  top: 15rem;
}

.desktop-logo {
  width: 30px;
  user-select: none;
}

.mini-logo {
  width: 19px;
  user-select: none;
}

.icon-text {
  font-size: 13px;
  font-family: Windows;
  color: white;
}

.trash-can-modal {
  position: absolute;
  width: 410px;
  height: 260px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.center-modals {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.program-row {
  position: relative;
  width: 100%;
  height: 19px;
  background-color: rgb(0, 0, 170);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.program-text {
  color: black;
  font-family: windows;
  font-size: 12px;
  font-weight: 300 !important;
  user-select: none;
  text-shadow: 0px 0px 1px black;
}

.program-row-text {
  color: white;
  font-family: windows;
  font-size: 12px;
  font-weight: 300 !important;
  user-select: none;
  /* text-shadow: 0px 0px 1px black; */
}

.trashcan-buttons {
  position: relative;
  width: 3.25rem;
  height: 100%;
  margin-right: 0.1rem;
  display: flex;
  justify-content: space-between;
}

.minimize {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background: url("../img/Minimize.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  cursor: pointer;
}

.enlarge {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background: url("../img/Enlarge.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  cursor: pointer;
}

.close {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background: url("../img/Close.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  cursor: pointer;
}

.cta-icons {
  height: 100%;
  width: 100%;
}

.enlarged {
  width: 100vw;
  height: 100vh;
}

.maximized {
  background: url("../img/Dotted.png");
  background-size: cover;
}

.minimized {
  background-color: rgb(195, 199, 203);
  border-top: 2px solid rgb(217, 225, 219);
  border-left: 2px solid rgb(217, 225, 219);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}
