@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "Windows"; /* Choose any name for the font */
  src: url("MS\ Sans\ Serif\ 8pt.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

body {
  background-color: black;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(85, 170, 170);
}

.main-program {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu-list {
  position: absolute;
  width: 185px;
  height: 16.8rem;
  background-color: rgb(195, 199, 203);
  bottom: 35px;
  left: 1px;
  z-index: 10;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
  user-select: none;
  z-index: 50 !important;
}

.win95-long {
  position: absolute;
  height: 100%;
  width: 24px;
  left: 1px;
}

.start-bar {
  position: relative;
  width: 100vw;
  height: 35px;
  background-color: rgb(192, 192, 192);
  border-top: 3px solid rgb(217, 225, 219);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  user-select: none;
}

.active-programs {
  position: absolute;
  height: 100%;
  min-width: 10rem;
  left: 4.2rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}

.active-program {
  height: 80%;
  top: 1px;
  position: relative;
  width: 150px;
  border: 1px solid transparent;
  border-top: 2px solid black;
  border-left: 2px solid black;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  gap: 0.2rem;
  align-items: center;
  padding-left: 3px;
}

.start-button {
  position: relative;
  height: 27px;
  width: 65px;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  /* border-right: 2px solid rgb(20, 20, 20); */
  /* border-bottom: 2px solid rgb(20, 20, 20);  */
  left: 3px;
  top: 1px;
  cursor: pointer;
  text-shadow: 0.5px 0px black, 1.5px 0px black;
  letter-spacing: 1px;
  /* background: url("./img/start_main.0.0.1455197556\ Background\ Removed.0.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

.clicked {
  border-top: 3px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(251, 250, 251);
  border-bottom: 2px solid rgb(251, 250, 251);
}

.start-button:active {
  border-top: 3px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(251, 250, 251);
  border-bottom: 2px solid rgb(251, 250, 251);
}

.start-button:active .start-img {
  width: 99%;
}

.time-box {
  position: relative;
  margin-right: 3px;
  top: 0px;
  width: 100px;
  height: 29px;
  background-color: transparent;
  border: 1px solid black;
  border-top: 2px solid rgb(145, 145, 145);
  border-left: 2px solid rgb(145, 145, 145);
  border-bottom: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(251, 250, 251);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.config-logo {
  position: relative;
  width: 22px;
  left: 3px;
  top: -1px;
}

.current-time {
  font-family: Windows;
  margin-right: 15px;
  /* text-shadow: 0.5px 0px black, 1.5px 0px black; */
  font-size: 13px;
}

.start-img {
  width: 100%;
}

.start-nav-list {
  position: absolute;
  height: 100%;
  left: 15.5%;
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-item {
  width: 100%;
  height: 37px;
  position: relative;
  overflow: hidden;
}

.nav-item:hover {
  background-color: rgb(0, 0, 170);
}

.nav-item:hover .nav-item-title {
  color: white;
}
.nav-item:hover .fa-play {
  color: white;
}

.nav-icon {
  width: 37px;
  top: -1px;
  position: absolute;
  left: 5px;
}

.ico-sml {
  top: 4px;
  left: 0.6rem;
  width: 30px;
}

.nav-item-title {
  position: absolute;
  z-index: 15;
  font-family: Windows;
  font-size: 13px;
  left: 47px;
  top: 12px;
  color: black;
  text-decoration: none;
}

.border {
  border-top: 1px solid black;
  border-bottom: 2px solid rgb(251, 250, 251);
}

.arrow-box {
  position: absolute;
  left: 8.7rem;
  top: 0.4rem;
}

.arrow-box2 {
  position: absolute;
  left: 10rem;
  top: 0.4rem;
}

.fa-play {
  font-size: 8px;
}

.desktop-icon {
  width: 6.2rem;
  height: 3.8rem;
  /* border: 1px solid red; */
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  user-select: none;
  text-align: center;
}

.desktop-icon:active {
  border: 1px dotted blue;
}

.trash-icon {
  position: absolute;
  left: 5rem;
  top: 5rem;
}

.shadow-minter {
  position: absolute;
  left: 15rem;
  top: 15rem;
}

.desk-terminal {
  position: absolute;
  left: 25rem;
  top: 15rem;
}

.desktop-logo {
  width: 30px;
  user-select: none;
}

.mini-logo {
  width: 19px;
  user-select: none;
}

.icon-text {
  font-size: 13px;
  font-family: Windows;
  color: white;
  line-height: 14px;
}

.recycle-modal {
  position: absolute;
  width: 610px;
  height: 360px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.shadow-minter-modal {
  position: absolute;
  width: 410px;
  height: 400px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.status-bar {
  position: relative;
  height: 20px;
  width: 98.5%;
  left: 0.7%;
  /* background-color: red; */
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
}

.stat-block {
  position: relative;
  width: 11px;
  height: 16px;
  top: 1px;
  background-color: #19286c;
  margin-left: 1px;
}

.status-text {
  text-align: center;
  display: block;
  font-family: Windows;
  font-size: 13px;
  position: relative;
  margin: 0.2rem 0;
}
.status-text2 {
  text-align: center;
  display: block;
  font-family: Windows;
  font-size: 13px;
  position: relative;
  margin: 0.2rem 0;
}

.modals-wrapper {
  position: relative;
  width: 99%;
  left: 0.5%;
  top: 0px;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.minter-inner-1 {
  position: relative;
  width: 99%;
  left: 0.5%;
  height: 20.5rem;
  top: 0%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.minter-inner-2 {
  position: relative;
  width: 99%;
  left: 0.5%;
  height: 100%;
}

.minter-inner-3 {
  position: relative;
  width: 99%;
  left: 0.5%;
  height: 21rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-mint {
  font-family: Windows;
  font-size: 18px;
}

.border-wrap {
  border-left: 1px solid #868a8e;
  border-top: 1px solid #868a8e;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  width: 99%;
  left: 0.5%;
  height: 5.15rem;
  top: 1rem;
}

.minter-user-info {
  position: relative;
  height: 5rem;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #868a8e;
  border-bottom: 1px solid #868a8e;
}

.minter-box-left {
  position: absolute;
  width: 15rem;
  height: 4rem;
  top: 0.7rem;
  left: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.minter-box-right {
  position: absolute;
  width: 10rem;
  left: 16rem;
  height: 4rem;
  top: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.minter-action-box {
  position: relative;
  height: 13rem;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #868a8e;
  border-bottom: 1px solid #868a8e;
}

.border-wrap2 {
  border-left: 1px solid #868a8e;
  border-top: 1px solid #868a8e;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  width: 99%;
  left: 0.5%;
  height: 13.15rem;
  top: 7rem;
}

.minter-info-box {
  font-family: Windows;
  font-size: 13px;
  background-color: #c3c7cb;
  position: absolute;
  top: -9px;
  left: 5px;
}

.connected-wallet {
  font-family: Windows;
  font-size: 12px;
}

.block-timestamp {
  font-family: Windows;
  font-size: 12px;
}

.bytes32-text {
  font-family: Windows;
  font-size: 12px;
}

.eligible-text {
  font-family: Windows;
  font-size: 12px;
}

.gmi-text {
  font-family: Windows;
  font-size: 12px;
}

.early-text {
  font-family: Windows;
  font-size: 12px;
}

.mint-gif {
  position: relative;
  width: 7.5rem;
  left: 0.3rem;
  top: 0.75rem;
}

.terminal-modal {
  position: absolute;
  width: 510px;
  height: 400px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.roadmap-modal {
  position: absolute;
  width: 510px;
  height: 400px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.team-modal {
  position: absolute;
  width: 510px;
  height: 310px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.rarity-modal {
  position: absolute;
  width: 400px;
  height: 310px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.rarity-text {
  font-family: Windows;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whitelist-modal {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.gallery-modal {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
}

.faq-textbox {
  position: absolute;
  width: 95%;
  left: 2.5%;
  top: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.question {
  font-family: Windows;
  font-weight: bold;
  font-size: 17px;
  text-decoration: underline;
}

.answer {
  font-family: Windows;
}

.question {
  font-family: Windows;
  font-weight: bold;
  font-size: 17px;
}

.faq-hr {
  width: 90%;
  left: 5%;
  height: 1px solid black;
  margin: 0.5rem 0rem;
}

.faq-modal {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgb(195, 199, 203);
  z-index: 70;
  box-shadow: 1px 1px 2px black;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}

.whitelist-span {
  font-family: Windows;
  width: 100%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.roadmap-cont {
  position: absolute;
  width: 100%;
  top: 0.6rem;
  height: 22.5rem;
}

.team-cont {
  position: absolute;
  width: 100%;
  top: 1.5rem;
  height: 22.5rem;
  display: flex;
}

.team-member {
  width: 50%;
  height: 100%;
}

.team-member-img {
  width: 100%;
  padding: 0.75rem;
}

.team-title {
  font-family: Windows;
  text-align: center;
  font-size: 17px;
  top: -0.5rem;
  position: relative;
}

.roadmap-text-box {
  position: absolute;
  left: 7rem;
  top: 2.3rem;
  width: 18rem;
  height: 20rem;
  z-index: 20;
  font-family: Windows;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 30px;
  padding-left: 4rem;
  user-select: none;
}

.purple {
  color: rgb(236, 10, 236) !important;
}

.roadmap-img {
  position: absolute;
  left: -5%;
  width: 110%;
  height: 110%;
}

.center-modals {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-left: 3px;
}

.program-row {
  position: relative;
  width: 99.5%;
  left: 0;
  /* left: 10.75%; */
  /* top: 200px; */
  height: 18px;
  background-color: rgb(0, 0, 170);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  z-index: 100;
}

.sticky {
  position: sticky !important;
  top: 0;
}

.settings-row {
  position: relative;
  width: 99%;
  left: 0.5%;
  height: 23px;
  font-family: Windows;
  font-size: 13px;
  padding-top: 1px;
  padding-left: px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
}

.setrow {
  position: relative;
  width: 33px;
  height: 100%;
  margin-top: 4px;
  padding: 0.1rem;
  margin-bottom: 2px;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setrow:hover {
  background-color: rgb(0, 0, 170);
  color: white;
  user-select: none;
}

.program-text {
  color: black;
  font-family: windows;
  font-size: 12px;
  font-weight: 300 !important;
  user-select: none;
  text-shadow: 0px 0px 1px black;
}

.program-row-text {
  color: white;
  font-family: windows;
  font-size: 12px;
  font-weight: 300 !important;
  user-select: none;
  /* text-shadow: 0px 0px 1px black; */
}

.trashcan-buttons {
  position: relative;
  width: 3.25rem;
  height: 100%;
  margin-right: 0.1rem;
  display: flex;
  justify-content: space-between;
}

.trashcan-button {
  position: relative;
  width: 1.1rem;
  height: 100%;
  margin-right: 0.1rem;
  display: flex;
  justify-content: space-between;
}

.minimize {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background: url("../img/Minimize.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  cursor: pointer;
}

.enlarge {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background: url("../img/Enlarge.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  cursor: pointer;
}

.close {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background: url("../img/Close.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  cursor: pointer;
}

.cta-icons {
  height: 100%;
  width: 100%;
}

.enlarged {
  width: 100vw;
  top: 0;
  height: calc(100vh - 35px);
}

.maximized {
  background: url("../img/Dotted.png");
  background-size: cover;
}

.minimized {
  background-color: rgb(195, 199, 203);
  border-top: 2px solid rgb(217, 225, 219);
  border-left: 2px solid rgb(217, 225, 219);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.recycle-inner-box {
  position: relative;
  width: 99%;
  left: 0.5%;
  height: 99%;
}

.recycle-wrapper {
  position: relative;
  width: 100%;
  /* height: calc(100% - 20px); */
}

.recycle-inner {
  position: relative;
  width: 99%;
  left: 0.5%;
  min-height: calc(100% - 45px);
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid rgb(217, 225, 219);
  border-bottom: 1px solid rgb(217, 225, 219);
  background-color: white;
}

.recycle-meta-info {
  height: 18px;
  width: 100%;
  /* border-bottom: 1px solid black; */
  display: flex;
}

.recycle-info-row {
  position: absolute;
  width: 99%;
  left: 0.5%;
  height: 20px;
  /* background-color: cyan; */
  display: flex;
  gap: 2px;
  bottom: 2px;
  background-color: silver;
}

.rec-left {
  position: relative;
  top: 3px;
  height: 17px;
  width: 40%;
  border-top: 1px solid rgb(112, 105, 105);
  border-left: 1px solid rgb(112, 105, 105);
  border-right: 1px solid rgb(217, 225, 219);
  border-bottom: 1px solid rgb(217, 225, 219);
}

.rec-right {
  position: relative;
  top: 3px;
  height: 17px;
  width: 60%;
  border-top: 1px solid rgb(112, 105, 105);
  border-left: 1px solid rgb(112, 105, 105);
  border-right: 1px solid rgb(217, 225, 219);
  border-bottom: 1px solid rgb(217, 225, 219);
}

.objects-info {
  position: relative;
  font-family: Windows;
  font-size: 11px;
  bottom: 2px;
  left: 4px;
}

.bytes-info {
  position: relative;
  font-family: Windows;
  font-size: 11px;
  bottom: 2px;
  left: 4px;
}

.name-block {
  position: relative;
  height: 100%;
  width: 35%;
  background-color: rgb(192, 192, 192);
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.location-block {
  position: relative;
  height: 100%;
  width: 35%;
  background-color: rgb(192, 192, 192);
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.meta-text {
  font-family: Windows;
  font-size: 11px;
  position: relative;
  left: 5px;
  bottom: 2px;
  user-select: none;
}

.bin-item {
  font-family: Windows;
  padding-left: 0.3rem;
  position: absolute;
  top: 1.5rem;
}

.bin-item2 {
  font-family: Windows;
  padding-left: 0.3rem;
  left: 12.5rem;
  position: absolute;
  top: 1.5rem;
}

.bin-item3 {
  font-family: Windows;
  padding-left: 0.3rem;
  left: 25.1rem;
  position: absolute;
  top: 1.5rem;
}

.bin-item2 {
  font-family: Windows;
  padding-left: 0.3rem;
  position: absolute;
  left: 12.5rem;
}

.drop-1 {
  position: absolute;
  width: 185px;
  height: 78px;
  background-color: rgb(195, 199, 203);
  bottom: 189px;
  left: 179px;
  z-index: 10;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
  user-select: none;
  z-index: 50 !important;
}

.drop-2 {
  position: absolute;
  width: 185px;
  height: 38px;
  background-color: rgb(195, 199, 203);
  bottom: 187px;
  left: 179px;
  z-index: 10;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
  user-select: none;
  z-index: 50 !important;
}

.drop-3 {
  position: absolute;
  width: 185px;
  height: 78px;
  background-color: rgb(195, 199, 203);
  bottom: 110px;
  left: 179px;
  z-index: 10;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
  user-select: none;
  z-index: 50 !important;
}

.drop-4 {
  position: absolute;
  width: 185px;
  height: 78px;
  background-color: rgb(195, 199, 203);
  bottom: 73px;
  left: 179px;
  z-index: 10;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
  user-select: none;
  z-index: 50 !important;
}

/* Terminal */

.terminal {
  position: relative;
  width: 99%;
  left: 0%;
  height: 375px;
  top: 3px;
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 0 auto;
  overflow: hidden;
}

.term-row {
  margin-left: 1px;
}

.terminal-body {
  height: 270px;
  padding: 10px;
  box-sizing: border-box;
}

.terminal-prompt {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

.green {
  color: green;
}

.red {
  color: red;
}

.terminal-prompt-user {
  color: green;
}

.terminal-prompt-path {
  color: #ff6347;
}

.terminal-flex {
  display: flex;
  gap: 0.45rem;
  /* background-color: green; */
}

.terminal-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex-grow: 1;
  font-family: monospace;
  font-size: 13px;
  width: 23rem;
  position: relative;
  left: -3px;
  /* background-color: gray; */
}

.redirect-socials {
  display: flex;
  gap: 0.4rem;
  color: rgb(189, 22, 189);
}

.terminal-output {
  margin-top: 10px;
  height: calc(100% - 20px - 25px);
  position: relative;
  font-size: 13px;
  overflow-y: auto;
}

.inner-program {
  position: relative;
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  padding-left: 0.5rem;
}

.no-hover {
  position: relative;
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  padding-left: 0.5rem;
}

.inner-program:hover {
  background-color: rgb(0, 0, 170);
  cursor: pointer;
}

.inner-program:hover .program-title {
  color: white;
}

.inner-program:hover .fa-play {
  color: white;
}

.program-logo {
  position: relative;
  width: 40px;
  height: 100%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-img {
  width: 80%;
  border-radius: 50%;
}

.program-title {
  font-family: Windows;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

.a-clean {
  text-decoration: none !important;
}

.connect-metamask {
  border-top: 2px solid #fbfafb;
  border-left: 2px solid #fbfafb;
  background-color: #c5c5c5;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.center-btn {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  top: 4.75rem;
}

.mint-button {
  position: relative;
  height: 27px;
  width: 85px;
  font-family: Windows;
  font-size: 13px;
}

.win-stl {
  cursor: pointer;
  text-shadow: 0.5px 0px black, 0.5px 0px black;
  letter-spacing: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
}

.win-stl:active {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(251, 250, 251);
  border-bottom: 2px solid rgb(251, 250, 251);
}

.mint-config-box {
  position: absolute;
  width: 15rem;
  height: 11rem;
  left: 9rem;
  top: 0.7rem;
}

.total-hr {
  color: black;
  background-color: black;
  height: 3px;
  width: 100%;
  top: 6.3rem;
  position: absolute;
}

.total-hr2 {
  color: black;
  background-color: black;
  height: 3px;
  width: 100%;
  top: 1.1rem;
  position: absolute;
}

.nft-mint-price {
  font-family: Windows;
  font-size: 14px;
  display: block;
  text-align: center;
}

.total-mint-price {
  font-family: Windows;
  font-size: 16px;
  display: block;
  text-align: center;
  position: relative;
  top: 3.25rem;
}

.mint-btn-row {
  position: relative;
  width: 100%;
  height: 2rem;
  top: 1.3rem;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mint-counter {
  font-family: Windows;
  font-size: 20px;
  position: relative;
}

.btn-stl {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
  font-family: Windows;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.min {
  user-select: none;
  position: relative;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
}

.min:active {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(251, 250, 251);
  border-bottom: 2px solid rgb(251, 250, 251);
}

.plus {
  user-select: none;
  position: relative;
  border-top: 2px solid rgb(251, 250, 251);
  border-left: 2px solid rgb(251, 250, 251);
  border-right: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
}

.plus:active {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(251, 250, 251);
  border-bottom: 2px solid rgb(251, 250, 251);
}

.cur-minted-box {
  position: absolute;
  width: 8.3rem;
  height: 3rem;
  top: 8.5rem;
  /* border: 1px solid red; */
  font-family: Windows;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fallback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: black;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  display: none;
}

.fallback2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: black;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  display: none;
}

@media (max-width: 800px) {
  .fallback {
    display: flex;
    font-size: 2.3vw;
  }
  .fallback2 {
    display: flex;
    font-size: 2.3vw;
  }
}

.progress-wrap {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.faq-overflow {
  position: absolute;
  width: 100%;
  height: 380px;
  top: 20px;
  overflow-y: scroll;
}

.blur {
  filter: grayscale(1);
}
